<div class="content-wrapper">
  <form [formGroup]="range">
    <mat-form-field appearance="fill">
      <mat-label>Choose a date range</mat-label>
      <mat-date-range-input [rangePicker]="picker" [min]="minDate" [max]="maxDate">
        <input matStartDate formControlName="start" placeholder="Start date" [min]="minDate">
        <input matEndDate formControlName="end" placeholder="End date" [min]="minDate">
      </mat-date-range-input>
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-date-range-picker #picker></mat-date-range-picker>
    </mat-form-field>
  </form>

  <div>
    <table mat-table [dataSource]="selectedRanges">
      <ng-container matColumnDef="start">
        <th mat-header-cell *matHeaderCellDef>Start Date</th>
        <td mat-cell *matCellDef="let range">{{ range.start | date }}</td>
      </ng-container>

      <ng-container matColumnDef="end">
        <th mat-header-cell *matHeaderCellDef>End Date</th>
        <td mat-cell *matCellDef="let range">{{ range.end | date }}</td>
      </ng-container>

      <ng-container matColumnDef="difference">
        <th mat-header-cell *matHeaderCellDef>Date Difference (Days)</th>
        <td mat-cell *matCellDef="let range">{{ dateDifferenceInDays(range.start, range.end) }}</td>
      </ng-container>

      <ng-container matColumnDef="delete">
        <th mat-header-cell *matHeaderCellDef>Delete</th>
        <td mat-cell *matCellDef="let range; let i = index">
          <button mat-button (click)="removeRange(i)">Delete</button>
        </td>
      </ng-container>

      <ng-container matColumnDef="footer">
        <td mat-footer-cell *matFooterCellDef colspan="4">Total Date Difference (Days): {{ totalDateDifference }}</td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="['start', 'end', 'difference', 'delete']"></tr>
      <tr mat-row *matRowDef="let row; columns: ['start', 'end', 'difference', 'delete'];"></tr>
      <tr mat-footer-row *matFooterRowDef="['footer']" [style.display]="selectedRanges.length > 0 ? 'table-row' : 'none'"></tr>
    </table>
  </div>

  <div style="display: flex; overflow-x: auto; margin-top: 20px; height: 50px">
    <div *ngFor="let date of last180Days.slice().reverse(); let i = index"
         [ngClass]="{'in-range': isDateInSelectedRanges(date), 'out-of-range': !isDateInSelectedRanges(date), 'first-day-of-month': date.getDate() === 1, 'today': isToday(date), 'daysago': is180DaysAgo(date)}"
         class="day-bar" [style.backgroundColor]="getColorBasedOnMonth(date)">
      <div *ngIf="date.getDate() === 1" class="month-marker">
        {{ date | date:'MMM' }}
      </div>
      <div *ngIf="isToday(date) || is180DaysAgo(date)" style="position: relative; bottom: -25px; font-size: 10px; color: #fff;" class="bold-date">
        {{ date | date:'d.M' }}
      </div>
    </div>
  </div>

  <div style="display: flex; flex-direction: column; align-items: flex-start; margin-top: 20px;">
    <div style="display: flex; align-items: center; margin-bottom: 10px;">
      <div style="width: 20px; height: 20px; background-color: rgb(0, 255, 0);"></div>
      <div style="margin-left: 10px;">Last 180 days</div>
    </div>
    <div style="display: flex; align-items: center; margin-bottom: 10px;">
      <div style="width: 20px; height: 20px; background-color: rgb(255, 0, 0);"></div>
      <div style="margin-left: 10px;">Schengen Time</div>
    </div>
    <div style="display: flex; align-items: center; margin-bottom: 10px;">
      <div style="width: 20px; height: 20px; background-color: rgb(211, 211, 211);"></div>
      <div style="margin-left: 10px;">Not in the past 180 days. Not relevant for schengen</div>
    </div>
    <div style="display: flex; align-items: center; margin-bottom: 10px;">
      <div style="width: 20px; height: 20px; background-color: rgb(255, 255, 0);"></div>
      <div style="margin-left: 10px;">Today and 180 days ago</div>
    </div>
  </div>
</div>



